body {
background-color: cyan;
text-align: center;
}
h1{
font-family: 'Lobster', cursive, times;
font-style: italic;
color: black;
}
caption {
font-family: Palatino, Times, Arial;
color: black;
text-align: center;
}
table{
border: 10px white;
background-color: PaleGreen;
border-style:2px solid white;
}
th,td{
border:2px solid white;
padding: 25px;
text-align: middle;
}