body {
background-color: crimson;
text-align: center;
}
h1{
font-family: 'Lobster', cursive, times;
font-style: italic;
color: black;
}
caption {
font-family: Palatino, Times, Arial;
color: black;
text-align: center;
}
table{
width: 70%;
float:none;
border: 2px solid crimson;
background-color: gray;
border-radius: 10px;
}
th,td{
border:2px solid crimson;
padding: 25px;
text-align: middle;
border-radius: 10px;
}
h3{
	float:right;
	width:15%;
}
h2{
	width:15%;
	float:left;
}